.mainpadding {
    padding-top: $default-padding;
    padding-bottom: $default-padding;
    @include until($desktop) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

.box {
    opacity: 0.85;
    width: fit-content;
}

.price:before {
    content: "€ "; 

}
.mydag > h3 {
    padding-top: $default-padding;
}

.marginmain {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.marginmain2 {
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.columncentercontent {
  text-align: center;
}

.spacertest {
  margin-left: 40%;
  margin-right: 40%;
}

.test {
  @include until($desktop) {
    
  }
}

.test3 {
  @include until($desktop) {
      font-size: 0.7rem !important;
    }
}
