@import 'bulma/sass/utilities/initial-variables.sass';
@import "bulma/sass/utilities/functions.sass";



// bulma colors
/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 3.5;

/* Default font */
$family-sans-serif: "Maven Pro", sans-serif;
$family-primary: $family-sans-serif;
$title-family: "Century Gothic", Monotype;

/* Base color */
$base-color: rgb(143,169,156);
$base-color-light: rgba(24,28,33,0.06);

/* background colors Bulma override */
$body-background-color: $white-ter;

/* Footer: Bulma override */
$footer-background-color: $white;

/* colors: Bulma override */
//$primary: $base-color;
$link: $base-color;
//$link-visited: $purple;
$notification-background-color: $base-color;


@import 'bulma/sass/utilities/derived-variables.sass';
@import "bulma/sass/utilities/animations.sass";
@import "bulma/sass/utilities/mixins.sass";
@import "bulma/sass/utilities/controls.sass";
