.mainpadding {
    padding-top: $default-padding;
    padding-bottom: $default-padding;
    @include until($desktop) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

.box {
    opacity: 0.85;
    background-color: $base-color !important;
    width: fit-content;
}

.price:before {
    content: "€ "; 

}
.mydag > h3 {
    padding-top: $default-padding;
}